* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("./images/background\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 46px 0 17px 0;
    width: 1028px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container:hover {
    color: #F26522;
    filter: invert(52%) sepia(99%) saturate(2587%) hue-rotate(345deg) brightness(95%) contrast(99%);
}

.nav-items {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.nav-items img {
    margin-right: 8px;
}

.nav-items-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-align: end;
    gap: 19px;
}

.nav-items-2 a {
    color: #FFFFFF;
}

.nav-items-2 a:hover {
    color: #F26522;
}

.logo-text-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

/* ~~~~~~~~~~~~~~~~~~~~ MAIN-GRID ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.grid {
    display: grid;
    justify-content: center;
    /* margin: 0 40px 0 40px; */
    grid: repeat(1, 1fr) / repeat(3, auto);
    grid-column-gap: 65px;
}

.grid-caption {
    font-family: "Roboto", sans-serif;
    padding: 20px 0 0 0;
    color: #FFFFFF;
    text-align: center;
}

.grid img {
    object-fit: cover;
    width: 300px;
    height: 222px;
}

/* ~~~~~~~~~~~~~~~~~~~~ PRICES & DETAILS LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.flex {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #F26522;
    top: -96px;
    /* cursor: pointer; */
    opacity: 0;
    transition: all 300ms linear;
    transform: scaleY(0);
    transform-origin: bottom;
}

.row {
    display: flex;
    justify-content: space-between;
}

.orange-grid-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    padding: 8px;
    margin-right: 5px;
}

.orange-grid-text-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    padding: 8px;
    margin-left: 5px;
}

.orange-grid-text-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    padding: 6px;
    margin-left: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~ PSEUDO-ELEMENT ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.orange-grid-text::after {
    content: url(./images/arrow.png);
    color: #FFFFFF;
    padding-left: 16px;
}

.pseudo-element {
    color: #FFFFFF;
    padding: 8px;
    margin-right: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~ GRADIENT ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.grid img {
    background: linear-gradient(to bottom, #000000, #FFFFFF);
    padding: 3px;
}

/* ~~~~~~~~~~~~~~~~~~~~ HOVER ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.grid-item-1:hover .flex {
    transform: scaleY(1);
    opacity: 1;
}

.grid-item-2:hover .flex {
    transform: scaleY(1);
    opacity: 1;
}

.grid-item-3:hover .flex {
    transform: scaleY(1);
    opacity: 1;
}

.grid-item-4:hover .flex {
    transform: scaleY(1);
    opacity: 1;
}

.grid-item-5:hover .flex {
    transform: scaleY(1);
    opacity: 1;
}
.grid-item-6:hover .flex {
    transform: scaleY(1);
    opacity: 1;
}

.grid-item-1:hover .grid-caption {
   color: #F26522;
}

.grid-item-2:hover .grid-caption {
    color: #F26522;
}

.grid-item-3:hover .grid-caption {
    color: #F26522;
}

.grid-item-4:hover .grid-caption {
    color: #F26522;
}

.grid-item-5:hover .grid-caption {
    color: #F26522;
}

.grid-item-6:hover .grid-caption {
    color: #F26522;
}

/* ~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 7;
    text-align: center;
    color: #FFFFFF;
}